<div class="container container-margin">
  <div class="row text-center text-uppercase">
    <div class="col-md-6">
      <h1>Existing Chats</h1>
      <% if @existing_chats_users %>
      <% @existing_chats_users.each do |other_user| %>
      <% if other_user != current_user %>
      <div class="list-group">
        <p class="list-group-item list-group-item-action message-color message-font-color">
          <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
          <%= other_user.username %>
        </p>
      </div>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
    </div>

    <div class="col-md-6">
      <h1>ALL USERS</h1>
      <% User.all.each do |other_user| %>
      <!-- <% if other_user != current_user %> -->
      <div class="list-group">
        <p class="list-group-item list-group-item-action">
          <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
          <%= other_user.username %>
          <% end %>
        </p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
