

<h1 id="home-page-hero-text">Who's Ready For A Walk?!</h1>

<div>
<!--
<%= link_to new_post_path do %>
<img src="assets/rotbone.png" alt="">Go out now!</img>
<% end %> -->

</div>

<div class="front-page-grid-row">

  <div class="home-page-grid-column" id="tennis-ball">
    <%= link_to new_post_path do %>
    <div id="comment_bubble">LET'S GO OUT NOW!</div>
    <% end %>
  </div>

  <div class="home-page-grid-column" id="tennis-ball">
    <div id="comment_bubble-two">PLAN A WALK <h5 style="font-size: 15px; text-decoration: none !important;">- - Coming Soon! - -<h5></div>
  </div>

</div>
