<div class="container container-margin">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-group text-center">
        <li class="list-group-item active text-uppercase display-4 a-color">What would you like to do?</li>
        <li class="list-group-item text-uppercase display-4 hover-effect"><%= link_to "Find a Date", new_post_path, class: "a-color" %></li>
        <li class="list-group-item text-uppercase display-4 hover-effect"><%= link_to "All Postings", posts_url, class: "a-color" %></li>
        <li class="list-group-item text-uppercase display-4 hover-effect"><%= link_to "Messenger", user_chats_path(session[:user_id]), class: "a-color" %></li>
        <li class="list-group-item text-uppercase display-4 hover-effect"><%= link_to "Account Page", user_path(session[:user_id]), class: "a-color" %></li>
      </ul>
    </div>
  </div>
</div>
