/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Bungee');

* {
  text-decoration: none! important;
}

* > h1, p, .btn, #logo, .nav-item {
  font-family: 'Baloo', sans-serif !important;
}

img {
  height: 200px;
  width: 300px;
}
.hr-color {
  background-color: rgb(162, 162, 162);
}


/* LOGIN AND SIGNUP */

.container-margin {
  margin-top: 10%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

@media only screen and (min-width: 100px) and (max-width: 700px) {
    .container-margin {
        margin-top: 25%;
    }
}

/* ALL THINGS USER */
.danger-text {
  color: rgb(147, 17, 22) !important;
  text-decoration: none! important;
}
