/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Bungee');




/* ===== TOP NAV ===== */

.container{
  box-sizing: border-box;
    //display: block;

    height: 100vh;
    margin-left:  400px;
    margin-right:  400px;
    background-color: whitesmoke;
    border-left: 1px solid rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
}

 img:not('#bone-hero') {
   width: 250px;
   height: 200px;
 }

 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, rgb(57, 142, 78) 0%, #6a6a6a 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  font-family: "Baloo", cursive;
  display: inline-block;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    text-decoration: overline;
    color: rgba(255, 255, 255, 1);
  }
}


/* FRONT PAGE */

#home-page-hero-text {
  font-family: 'Bungee', cursive;
  color: black;
  font-size: 2em;
  text-align: center;
  vertical-align: center;
  align-items: center;
  padding-top: 20px;
  box-sizing: content-box;
  border-bottom: 3px solid black;
}

#home-page-herothree-text {
  text-align: center;
  align-items: center;
}

.front-page-grid-row {
}

.home-page-grid-column {
    margin-top: 25%;
    float: left;
    width: 50%;
    padding: 10px;
    padding-left: 11%;
    height: 300px; /* Should be removed. Only for demonstration */
  }

#comment_bubble {
    width: 300px;
    height: 200px;
    background-image: linear-gradient(180deg, rgb(37, 129, 213) 0%, #6a6a6a 100%);    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    font-family: 'Bungee', cursive;
    color: white;
    text-align: center;
    vertical-align: center;
    border: 4px solid rgb(42, 42, 42);
    font-size: 3.5em;
    text-decoration: underline;
    bottom: 15px;
}
#comment_bubble-two {
    width: 300px;
    height: 200px;
    background-image: linear-gradient(180deg, rgb(37, 129, 213) 0%, #6a6a6a 100%);
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    font-family: 'Bungee', cursive;
    color: white;
    text-align: center;
    vertical-align: center;
    border: 4px solid rgb(42, 42, 42);
    font-size: 3.5em;
    text-decoration: underline;
    left: 12px;
    bottom: 15px;
}
